<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="connection" connectionString="Data Source=DESKTOP-2BSVHGG;Initial Catalog=SchoolManagDB;Integrated Security=true;" providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<httpRuntime maxRequestLength="20480" />
		<!-- 20 MB limit -->
	</system.web>
</configuration>
